In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [5]:
data=pd.read_csv(r'C:\Users\Deependu Mandal\Desktop\dataset.csv')
data.head()

     X1  X2    X3   X4   X5
0   8.0  78   284  9.1  109
1   9.3  68   433  8.7  144
2   7.5  70   739  7.2  113
3   8.9  96  1792  8.9   97
4  10.2  74   477  8.3  206

In [6]:
x_1=data.iloc[:,0:1].values
x_2=data.iloc[:,1:2].values
x_3=data.iloc[:,2:3].values
x_4=data.iloc[:,3:4].values
x_5=data.iloc[:,4:5].values

In [7]:
y=data.iloc[:,-1:].values

In [8]:
l_1=[]
l_2=[]
l_3=[]
l_4=[]
l_5=[]

In [9]:
for i in range(len(x_1)):
    l_1.append(x_1[i])
    l_2.append(x_2[i])
    l_3.append(x_3[i])
    l_4.append(x_4[i])
    l_5.append(x_5[i])

In [11]:
for j in l_1:
    print(j)

[8.]
[9.30000019]
[7.5]
[8.89999962]
[10.19999981]
[8.30000019]
[8.80000019]
[8.80000019]
[10.69999981]
[11.69999981]
[8.5]
[8.30000019]
[8.19999981]
[7.9000001]
[10.30000019]
[7.4000001]
[9.60000038]
[9.30000019]
[10.60000038]
[9.69999981]
[11.60000038]
[8.10000038]
[9.80000019]
[7.4000001]
[9.39999962]
[11.19999981]
[9.10000038]
[10.5]
[11.89999962]
[8.39999962]
[5.]
[9.80000019]
[9.80000019]
[10.80000019]
[10.10000038]
[10.89999962]
[9.19999981]
[8.30000019]
[7.30000019]
[9.39999962]
[9.39999962]
[9.80000019]
[3.5999999]
[8.39999962]
[10.80000019]
[10.10000038]
[9.]
[10.]
[11.30000019]
[11.30000019]
[12.80000019]
[10.]
[6.69999981]