In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [7]:
data=pd.read_csv(r'C:\Users\Deependu Mandal\Desktop\dataset.csv')
data.head()

     X1  X2    X3   X4   X5
0   8.0  78   284  9.1  109
1   9.3  68   433  8.7  144
2   7.5  70   739  7.2  113
3   8.9  96  1792  8.9   97
4  10.2  74   477  8.3  206

In [8]:
x1=data['X1'].values
x2=data['X2'].values
x3=data['X3'].values
x4=data['X4'].values
y=data['X5'].values

In [9]:
#from summary output

m1=-7.657093797
m2=-0.144987125
m3=0.035093591
m4=5.526699214

intercept=125.8809746

In [11]:
y_pred = intercept + m1*x1 + m2*x2 + m3*x3 + m4*x4
print(y_pred)

[113.57477327 108.08868333 124.03006941 155.88941469  99.66081951
 119.17842302 126.1493308  106.75319955  91.68920172  87.6413747
 121.02500418 115.15056254 107.77557691 127.02107941 100.32106632
 122.20166569 137.36529754 107.82391551  90.60395855 127.96277072
  86.77648128 100.37789718 142.95668419 121.96391305 107.11312635
  95.39346248 103.07279765 107.2932807   82.2950901  115.8509587
 143.51636909 115.5076207  111.83447675  95.57444558 102.18207726
  93.68365413 109.93018021 117.39207608 143.89682922 102.08263638
 124.61480781  99.24047254 142.66774466 117.70361381  95.72706312
 117.73625041 105.89061639 101.96887136  81.60392005  92.67943786
  72.34946811 101.63872311 121.5787852 ]

In [12]:
error=sum((y_pred - y)**2)/len(y)
print(error)

1879.0173148359318